/* Your styles goes here */


/*Reset style*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}


/*Page style*/

body {
	background: #1C1C1F;
}
#root {
	height: 100vh;
}
#root .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0;
}
h2 {
	color: #6B695B;
	font-size: 24px;
	margin-bottom: 15px;
}
.tank-item {
	width: 18%;
	display: inline-block;
	padding: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}
.tank-item .tank-img {
	width: 100%;
}
.main-tank-details {
	display: flex;
	align-items: center;
}
.main-tank-details .main-tank-level {
	color: #A19E86;
	font-size: 18px;
	font-weight: bold;
	margin: 0 5px;
}
.main-tank-details .main-tank-name {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tank-details {
	display: flex;
}
.description-title {
	color: #6B695B;
	font-size: 24px;
	margin-bottom: 50px;
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
}
.description-title img {
	margin-right: 15px;
}
.right-column {
	width: 100%;
}
.right-column table {
	width: 100%;
	text-align: left;
	color: #A19E86;
	border-collapse: collapse;
}
.right-column table th {
	padding: 10px 15px;
}
.right-column table th, .right-column table td {
	border: 1px solid #A19E86;
}
.back-link {
	cursor: pointer;
	color: #A19E86;
	font-size: 18px;
	font-weight: bold;
}
