$bg-color: rgba(198, 238, 252, 0.53); //good
$content-bg: #3b3b3b;
$text-color: #fff;
$main-title-color: #fccd10;
$img-border: $main-title-color;
$link-color: #fccd10;
$link-hover: #ffcc01;
$brief-bg: #f5c70f;
$table-bg: #677d01;
$contact-title-bg: #94a34e;
$label-color: #808080;
$input-border: $contact-title-bg;
$brief-width: 100%;