$bg-color: #dcbb9a;
$content-bg: #fff;
$text-color: #000;
$main-title-color: #893c00;
$img-border: $main-title-color;
$link-color: #3d70a1;
$link-hover: #0280f9;
$brief-bg: #fadcba;
$table-bg: #fff;
$contact-title-bg: #e0e0e0;
$label-color: #808080;
$input-border: $contact-title-bg;
$brief-width: 45%;


